@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Poppins:wght@400&display=swap");

@layer components {
  .stap01,
  .stap02,
  .stap03,
  .stap04 {
    background: url(https://cloud.proranje.nl/2018/09/stap-1.png) top left
      no-repeat #fff;
    background-position: 30px 20px !important;
  }
  .stap_trans .stap01,
  .stap_trans .stap02,
  .stap_trans .stap03,
  .stap_trans .stap04 {
    background-color: transparent !important;
    background-position: 60px 10px;
    font-size: 15px;
    padding-left: 100px !important;
    padding-right: 50px !important;
    padding-top: 40px;
  }
  .stap02 {
    background-image: url(https://cloud.proranje.nl/2018/09/stap-2.png);
  }

  .stap03 {
    background-image: url(https://cloud.proranje.nl/2018/09/stap-3.png);
  }

  .stap04 {
    background-image: url(https://cloud.proranje.nl/2018/09/stap-4.png);
  }
  .footer_listing a {
    @apply list-none pl-5 float-left w-full;
    position: relative;
  }

  .footer_listing a::before {
    content: url("/images/arrow.png");
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
  }
  .mail,
  .phone,
  .location {
    background-image: url(https://cloud.proranje.nl/2018/07/sprite_footer_icons.png);
    height: 40px;
    width: 45px;
    margin-top: 15px;
    float: left;
    margin-right: 25px;
  }
  .phone {
    background-position: 0 108px;
  }
  .location {
    background-position: 0 36px;
  }
  input,
  select,
  textarea {
    background: #eaeaea;
    font-size: 15px !important;
    padding: 15px 22px !important;
    color: #7c7c7c;
  }
  select {
    background-image: url("/images/icons8-dropdown-24.png");
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }
}
